<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myshopmate.user"
    android:installLocation="auto">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.myshopmate.user.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.tecmanic.gogrocer.permission.MAPS_RECEIVE" />

    <application
        android:name="com.myshopmate.user.util.AppController"
        android:allowBackup="true"
        android:icon="@drawable/splashicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/splashicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.myshopmate.user.Activity.FlagActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.myshopmate.user.Activity.GameWebActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.myshopmate.user.Activity.AddressLocationActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> <!-- <activity -->
        <!-- android:name="com.midtrans.sdk.uikit.activities.PaymentMethodsActivity" -->
        <!-- android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name="com.midtrans.sdk.uikit.activities.UserDetailsActivity" -->
        <!-- android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name="com.midtrans.sdk.uikit.views.creditcard.register.CardRegistrationActivity" -->
        <!-- android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> -->
        <activity
            android:name="com.myshopmate.user.Activity.DealActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.myshopmate.user.Activity.MainActivityAgain" />
        <activity android:name="com.myshopmate.user.Activity.add_address" />
        <activity android:name="com.myshopmate.user.Activity.ViewAll_Whatsnew" />
        <activity android:name="com.myshopmate.user.Activity.ViewAll_Deals" />
        <activity android:name="com.myshopmate.user.Activity.ViewAll_Recent" />
        <activity
            android:name="com.myshopmate.user.Activity.ViewAll_TopDeals"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.myshopmate.user.Activity.Forget_otp_verify" />
        <activity android:name="com.myshopmate.user.Activity.About_us" />
        <activity android:name="com.myshopmate.user.Activity.Coupen" />
        <activity
            android:name="com.myshopmate.user.Activity.Myorderdetails"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.myshopmate.user.Activity.Cancel_Order"
            android:parentActivityName=".Activity.My_Order_activity"/>
        <activity
            android:name="com.myshopmate.user.Activity.ForgotPassOtp"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.My_Order_activity"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.NewPassword"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.RechargeWallet"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.ForgotPAssword"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.SelectAddress"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.OrderSummary"
            android:theme="@style/StatusBarOrange" />

        <service android:name="com.myshopmate.user.Activity.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service android:name=".Activity.MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_7fnnn7WTaard4h" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.myshopmate.user.Activity.PaymentGatWay"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
  <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        -->
        <activity android:name="com.myshopmate.user.Activity.Paytm" />
        <activity
            android:name="com.myshopmate.user.Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.myshopmate.user.Activity.AddAddress"
            android:theme="@style/StatusBarOrange" /> <!-- <activity -->
        <!-- android:name=".Fragments.CartFragment" -->
        <!-- android:theme="@style/StatusBarGreen" /> -->
        <!-- <activity -->
        <!-- android:name=".Fragments.SearchFragment" -->
        <!-- android:theme="@style/StatusBarGreen" /> -->
        <!-- <activity -->
        <!-- android:name=".Fragments.CategoryFragment" -->
        <!-- android:theme="@style/StatusBarGreen" /> -->
        <activity
            android:name="com.myshopmate.user.Activity.ChooseLocatioin"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.OtpVerification"
            android:theme="@style/StatusBarGreen" />
        <activity
            android:name="com.myshopmate.user.Activity.OrderSuccessful"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.EmptyCart"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.PaymentDetails"
            android:theme="@style/StatusBarOrange"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.myshopmate.user.Activity.InternetConnection"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.CategoryPage"
            android:theme="@style/StatusBarGreen" />
        <activity
            android:name="com.myshopmate.user.Activity.ProductDetails"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.SignUpActivity"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.LoginActivity"
            android:theme="@style/StatusBarOrange" />
        <activity
            android:name="com.myshopmate.user.Activity.Splash"
            android:theme="@style/StatusBarWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>